#System
.DS_Store
Thumbs.db

# 日志文件
*.log
*.tmp

# 备份文件
*~
*.backup
*.bak
*.swp
*.swo
*.old

# 依赖目录
3rdparty/
*.depend
*.includes
*.dep
*.deps
*.dir
*.dirstamp
*.tmp
*.stamp
*.cache

# 构建目录
build/
*/build/
*/*/build/

# 编辑器配置文件
.vscode/
.qtcreator/*

# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
#*build-*

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*
